@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 15, 23, 42;
    --background-rgb: 248, 250, 252;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}
